body {
	padding: 20px 0;
}


.card .card-content .card-title {
	text-transform: capitalize;
	line-height: 24px;
  font-size: 21px;
  margin-bottom: 5px;
}

.btn-search {
  width: 100%;
}

.row .col.s12 {
	margin-top: 10px;
}
